#MenuContainer {
    position: relative;
    display: block;
    float: left;
    left: 0%;
    width: 25%;
    height: 100%;
    /*background: linear-gradient(to left, #1c1c1c 0%,#101010 100%);*/
    background: #161616;
}

.hidden {
    opacity: 0;
}

.button {
    stroke-width: 1px;
    stroke: #777777;
    stroke-opacity: 0.5;
}

.button.mousedown {
    stroke-opacity: 0;
}

.button.selected {
    stroke: none;
}

.button.selected.mousedown {
    stroke: #D2D2D2;
    stroke-opacity: 0.5;
}

.button.submenuButton {
    stroke-opacity: 0.5;
}

.button.submenuButton.mousedown {
    stroke-opacity: 0;
}

.button.submenuButton.selected {
    stroke: none;
}

.button.submenuButton.selected.mousedown {
    stroke: #D2D2D2;
    stroke-opacity: 0.5;
}

.button.node {
    fill: #525278;
    stroke: #9797AE;
    stroke-opacity: 0.5;
}

.button.node.mousedown {
    stroke: none;
}

.button.node.selected {
    stroke: #9797AE;
    stroke-opacity: 1;
    stroke-width: 2px;
}

.button.node.selected.mousedown {
    stroke: none;
}

.button.node.child {
    fill: #284377;
    stroke: #7e8ead;
    stroke-opacity: 0.5;
}

.button.node.child.selected {
    stroke: #A7A7A7;
    stroke-opacity: 1;
    stroke-width: 2px;
}

.online {
    fill: #589b24;
    stroke: #A7A7A7;
}

.offline {
    fill: #A0271C;
    stroke: #A7A7A7;
}

.fadeIn {
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.text, .nodeText, .menuHeading {
    font-family: Arial;
    fill: #dcdcdc;
}

.text.selected, .nodeText.selected {
    fill: #ededed;
}

.workArea {
	position: absolute;
	left: 0%;
	top: 0%;
}

.machineBar {
	fill:rgb(200,180,180);
	stroke:rgb(200,180,180);
}

.axis path,
.axis line{
	fill: none;
	stroke: white;
	shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    fill: rgb(220,200,200);
    stroke: none;
}

.tick text{
    font-size: 0.6rem;
}

.tick line{
    opacity: 0.4;
}
.svgCanvas {
	position: absolute;
	display: block;
	x:0%;
	left: 0%;
	width: 100%;
	height: 100%;
}


.arc path {
  stroke: #fff;
}

.heading {
    font-family: arial;
}

.instruction{
    font-family: arial;
}

.processors text{
    font-family: arial;
    font-weight: bold;
}
